@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section head {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Products[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Products[0].Description)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>@Html.DisplayFor(i=> item.Name)</td>
            <td>@Html.DisplayFor(i => item.Price)</td>
            <td>@Html.DisplayFor(i => item.Stock)</td>
            <td>@Html.DisplayFor(i => item.Description)</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductID">Edit</a>
            </td>
        </tr>
    }
</table>